@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto+Condensed&display=swap');

$color-primary-0: #2D882D;
$color-primary-1: #8B978B;
$color-primary-2: #5A905A;
$color-primary-3: #058005;
$color-primary-4: #007900;

body{
	background-color: #555;
	max-width: 790px;
	margin: 0 auto;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	*{
		color: #fff;
	}
}

header{
	background-color: $color-primary-1;
    border-bottom: 1px solid #aaa;
    padding: 1px 20px;
    font-family: 'Gloria Hallelujah', cursive;
    &:hover{
    	h1{
			color: $color-primary-4;
		}
    }
    h1{
    	transition: color .2s linear;
    }
    a{
    	text-decoration: none;
    }
}

.banner{
	height: 320px;
	width: 100%;
	position: absolute;
	z-index: -1;
	&.home{
		background: url('../images/banner.jpg') no-repeat center center/cover;
	}
	&.quiz{
		background: url('../images/quiz-banner.jpg') no-repeat center center/cover;
	}
}

.start-quiz{
	text-align: center;
	margin: 131px 0;
	a{
		padding: 10px 20px;
		text-shadow: 2px 2px 2px #999;
		font-size: 3em;
		transition: color .2s linear;
		&:hover{
			color: $color-primary-4;
		}
	}
}

.content{
	width: 80%;
	margin: 0 auto;
	background-color: #555555dd;
    padding: 0 15px;
}

form{
	width: 100%;
	div{
		width: 80%;
		display: flex;
    	justify-content: space-between;
	} 
	.submit{
		width: 45%;
	    margin: 40px auto;
	    display: block;
	    padding: 10px;
	    border-radius: 30px;
	    border: none;
	    cursor: pointer;
	    background-color: #6faf9a;
	    transition: background-color .5s linear;
	    &:hover{
	    	background-color: #3c827e;
	    }
	}
}

@media (max-width: 850px){
	h1{
		font-size: 1.5em; 
	}
	form{
		div{
			flex-direction: column;
			input{
				align-self: flex-end;
			}
		}
	}
}