<!DOCTYPE html>
<html>
{{> head}}
<body>
	{{> header}}
	<div class="home banner"></div>
	<div class="start-quiz">
		<a href='/quiz/question/{{questionNumber}}'>Take the quiz!</a>
	</div>
	{{> footer}}
</body>
</html>
