<!DOCTYPE html>
<html>
{{> head}}
<body>
	{{> header}}

	<h1>The results are in, these are your traits</h1>
	{{results}}
	<br>
	{{prominentTraits}}
	<br>
	{{mostMatched}}

	{{> footer}}
</body>
</html>