@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto+Condensed&display=swap");
body {
  background-color: #555;
  font-family: 'Roboto Condensed', sans-serif; }
  body * {
    color: #fff; }

.container {
  max-width: 790px;
  margin: 0 auto 280px;
  position: relative; }

header {
  background-color: #8B978B;
  border-bottom: 1px solid #aaa;
  padding: 1px 20px;
  font-family: 'Gloria Hallelujah', cursive; }
  header:hover h1 {
    color: #007900; }
  header h1 {
    transition: color .2s linear; }
  header a {
    text-decoration: none; }

.banner {
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1; }
  .banner.home {
    background: url("../images/banner.jpg") no-repeat center center/cover; }
  .banner.quiz {
    background: url("../images/quiz-banner.jpg") no-repeat center center/cover; }

.start-quiz {
  text-align: center;
  margin: 131px 0; }
  .start-quiz a {
    text-decoration: none;
    background-color: #99999999;
    padding: 20px 70px;
    text-shadow: 2px 2px 2px #999;
    font-size: 3em;
    transition: background-color .2s linear; }
    .start-quiz a:hover {
      background-color: #dfefffc9;
      color: #007900; }

.content {
  width: 80%;
  margin: 5px auto;
  background-color: #555555dd;
  padding: 2px 15px; }

form {
  width: 100%; }
  form .answer-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    min-height: 20px;
    cursor: pointer;
    background-color: #222;
    padding: 15px;
    margin: 6px auto;
    transition: background-color .2s linear; }
    form .answer-container:hover {
      background-color: #262; }
    form .answer-container input {
      cursor: pointer; }
  form .submit {
    width: 45%;
    margin: 40px auto;
    display: block;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: #3c827e;
    transition: background-color .5s linear; }
    form .submit:hover {
      background-color: #72d69e; }

.restart {
  margin-top: 10px;
  margin-left: 20px; }

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #aaa;
  width: 100%;
  position: absolute;
  left: 0; }

@media (max-width: 850px) {
  h1 {
    font-size: 1.5em; }

  form div {
    flex-direction: column; }
    form div input {
      align-self: flex-end; } }
