body {
  background-color: #555;
  max-width: 790px;
  margin: 0 auto; }
  body * {
    color: #fff; }

header {
  background-color: #68757d;
  border-bottom: 1px solid #1b2229;
  padding: 1px 20px; }

.start-quiz {
  text-align: center;
  margin: 20px 0; }
  .start-quiz a {
    padding: 10px 20px;
    font-size: 3em; }

form {
  width: 100%; }
  form div {
    width: 80%;
    display: flex;
    justify-content: space-between; }
    form div input {
      width: 20%;
      height: 30px; }
  form .submit {
    width: 45%;
    margin: 40px auto;
    display: block;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: #6faf9a;
    transition: background-color .5s linear; }
    form .submit:hover {
      background-color: #3c827e; }

@media (max-width: 1000px) {
  h1 {
    font-size: 1.5em; }

  form div {
    flex-direction: column; }
    form div input {
      align-self: flex-end; } }
